@namespace Talk.Client.Slides

<Slide Title="Hi, I'm Brent">
    <div class="hello">
        <p class="role">Co-Founder · Alien Arc Technologies</p>
        <p class="why">I love building things that make people's lives
            <span class="hl">a little easier</span>.</p>
        <a class="gh" href="https://github.com/brentestewart" target="_blank" rel="noopener">
            github.com/brentestewart<span class="gh-arrow">↗</span>
        </a>
    </div>
</Slide>
